<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add New User</a> | 
			<a href="/users">All Users List</a>
		</div>	
		<h1><%= title %></h1>
